<a href="https://colab.research.google.com/github/maryamt95/project-files/blob/main/sea_ice_formatted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount drive

In [1]:
from google.colab import drive  
drive._mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing
import datetime as dt # date and time processing functions
import itertools
import matplotlib.pyplot as plt # basic plotting 
from matplotlib.offsetbox import AnchoredText
plt.style.use('ggplot') # use ggplot style
%matplotlib inline

#Reading North sea ice extent

In [59]:
# read in the data from the provided csv file
north = pd.read_csv('/content/drive/MyDrive/data/N_seaice_extent_daily_v3.0.csv')

# drop the 'Source Data' column as it obscures more useful columns and doesn't tell us much
north.drop(' Source Data', axis = 1, inplace = True)
north.drop('hemisphere',axis=1,inplace=True)
north.head()

   Year   Month   Day       Extent      Missing
0  YYYY      MM    DD   10^6 sq km   10^6 sq km
1  1978      10    26       10.231            0
2  1978      10    28        10.42            0
3  1978      10    30       10.557            0
4  1978      11     1        10.67            0

In [60]:
#drop first row and reset index 
north = north.iloc[1: , :]
north.reset_index(drop=True, inplace=True)

In [61]:
north.head()

   Year  Month  Day      Extent     Missing
0  1978     10   26      10.231           0
1  1978     10   28       10.42           0
2  1978     10   30      10.557           0
3  1978     11    1       10.67           0
4  1978     11    3      10.777           0

In [62]:
#remove spacing from column names 
north=north.rename(columns={'Year':'Year',' Month':'Month',' Day':'Day','     Extent':'Extent','    Missing':'Missing'})

In [63]:
# convert the provided 3 column date format to datetime format and set it as the index
north['Date'] = pd.to_datetime(north[['Year','Month','Day']])

In [64]:
seaice_extent_north.head()

   Year Month Day  Extent Missing       Date
0  1978    10  26  10.231       0 1978-10-26
1  1978    10  28   10.42       0 1978-10-28
2  1978    10  30  10.557       0 1978-10-30
3  1978    11   1   10.67       0 1978-11-01
4  1978    11   3  10.777       0 1978-11-03

In [65]:

#change datatatypes 
north=north.astype({'Year':np.float64,'Month':np.float64,'Day':np.int64,'Extent':np.float64,'Missing':np.float64})

In [66]:
north.dtypes

Year              float64
Month             float64
Day                 int64
Extent            float64
Missing           float64
Date       datetime64[ns]
dtype: object

In [67]:
seaice_extent_north=north

# cheking formats of data

In [68]:
seaice_extent_north.head()

     Year  Month  Day  Extent  Missing       Date
0  1978.0   10.0   26  10.231      0.0 1978-10-26
1  1978.0   10.0   28  10.420      0.0 1978-10-28
2  1978.0   10.0   30  10.557      0.0 1978-10-30
3  1978.0   11.0    1  10.670      0.0 1978-11-01
4  1978.0   11.0    3  10.777      0.0 1978-11-03

In [69]:
seaice_extent_north_1=seaice_extent_north[['Year','Month','Extent']]
seaice_extent_north_1.head()

     Year  Month  Extent
0  1978.0   10.0  10.231
1  1978.0   10.0  10.420
2  1978.0   10.0  10.557
3  1978.0   11.0  10.670
4  1978.0   11.0  10.777

In [70]:
seaice_extent_north_1.dtypes

Year      float64
Month     float64
Extent    float64
dtype: object

In [72]:
seaice_extent_north_grouped=seaice_extent_north_1.groupby(["Year","Month"]).mean()
seaice_extent_north_grouped.head()

                 Extent
Year   Month
1978.0 10.0   14.050833
       11.0   13.770767
       12.0   12.031156
1979.0 1.0    10.408100
       2.0     9.658179

In [73]:
seaice_extent_north_grouped.count()

Extent    520
dtype: int64

# Reading South sea ice extent

In [74]:
south = pd.read_csv('/content/drive/MyDrive/data/S_seaice_extent_daily_v3.0.csv')

south.columns

Index(['Year', ' Month', ' Day', '     Extent', '    Missing', ' Source Data'], dtype='object')

In [75]:
# drop the 'Source Data' column as it obscures more useful columns and doesn't tell us much
south.drop(' Source Data', axis = 1, inplace = True)

#drop first row and reset index 
south = south.iloc[1: , :]
south.reset_index(drop=True, inplace=True)

south.head()

   Year   Month   Day       Extent      Missing
0  1978      10    26       17.624        0.000
1  1978      10    28       17.803        0.000
2  1978      10    30       17.670        0.000
3  1978      11    01       17.527        0.000
4  1978      11    03       17.486        0.000

In [76]:
#remove spacing from column names 
south=south.rename(columns={'Year':'Year',' Month':'Month',' Day':'Day','     Extent':'Extent','    Missing':'Missing'})

In [77]:
# convert the provided 3 column date format to datetime format and set it as the index
south['Date'] = pd.to_datetime(south[['Year','Month','Day']])

In [78]:
#changing datatype 
south=south.astype({'Year':np.int64,'Month':np.int64,'Day':np.int64,'Extent':np.float64,'Missing':np.float64})

In [79]:
seaice_extent_south=south
seaice_extent_south.head()

   Year  Month  Day  Extent  Missing       Date
0  1978     10   26  17.624      0.0 1978-10-26
1  1978     10   28  17.803      0.0 1978-10-28
2  1978     10   30  17.670      0.0 1978-10-30
3  1978     11    1  17.527      0.0 1978-11-01
4  1978     11    3  17.486      0.0 1978-11-03

In [80]:
seaice_extent_south_1=seaice_extent_south[['Year','Month','Extent']]
seaice_extent_south_1.head()

   Year  Month  Extent
0  1978     10  17.624
1  1978     10  17.803
2  1978     10  17.670
3  1978     11  17.527
4  1978     11  17.486

In [81]:
seaice_extent_south_grouped=seaice_extent_south_1.groupby(["Year","Month"]).mean()
seaice_extent_south_grouped.head()

               Extent
Year Month
1978 10     17.699000
     11     15.896400
     12     10.395250
1979 1       5.402200
     2       3.141071

In [82]:
seaice_extent_south_grouped.count()

Extent    520
dtype: int64